nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between
}

nav span {
  font-family: 'Bungee', cursive;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav strong {
  font-weight: bold;
}

nav i {
  color: red;
}